.form {
    display: block;
    &__input {
        width: 100%;
        padding: 5px 10px;
        border-radius: 0;
        border: 1.5px solid #9c97a0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 760px) {
            width: 100%;
        }
        &__input {
            border: none;
            outline: none;
            width: 100%;
            &::placeholder {
                color: #adb5bd;
                text-transform: uppercase;
            };
            &:focus {
                box-shadow: none;
                border-color: #9c97a0
            };
        @media only screen and (max-width: 760px) {
            width: inherit;
        }
        }
        @media only screen and (max-width: 760px) {
            width: 100%;
        }

    }
}