.text {
  margin-top: 0;
  margin-bottom: 0; }

.text--serif {
  font-family: 'Serif'; }
  .text--serif--lined {
    border-bottom: 1px solid #9c97a0;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700; }
  .text--serif--title {
    letter-spacing: 0.6px;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 700;
    text-transform: uppercase; }

.text--primary {
  color: #7a4a58; }

.text--darkgrey {
  color: rgba(0, 0, 0, 0.7); }

.text--light {
  color: rgba(0, 0, 0, 0.2); }

.text--bold {
  font-weight: 700; }

.breadcum {
  margin-top: 15px; }
  @media only screen and (max-width: 1024px) {
    .breadcum {
      display: none; } }
  .breadcum__list {
    padding: 0;
    margin: 0;
    list-style: none; }
    .breadcum__list__item {
      display: inline-block;
      letter-spacing: 0.5px;
      margin-right: 10px; }
      @media only screen and (max-width: 1024px) {
        .breadcum__list__item {
          margin-right: 5px;
          font-size: 10px; } }
      .breadcum__list__item::after {
        content: '/';
        display: inline-block;
        margin-left: 10px;
        color: rgba(0, 0, 0, 0.4); }
        @media only screen and (max-width: 1024px) {
          .breadcum__list__item::after {
            margin-left: 5px; } }
      .breadcum__list__item__link {
        color: rgba(0, 0, 0, 0.4);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px; }
        .breadcum__list__item__link:hover {
          color: rgba(0, 0, 0, 0.4);
          text-decoration: underline; }
        @media only screen and (max-width: 1024px) {
          .breadcum__list__item__link {
            font-size: 10px; } }

.button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  outline: none;
  border: none; }
  .button--primary {
    background: #7a4a58;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transition: .3s all; }
    @media only screen and (max-width: 1024px) {
      .button--primary {
        font-size: 14px; } }
    .button--primary:hover {
      opacity: 0.85;
      transform: scale(1.05);
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.16);
      rotate: 1deg; }

.form {
  display: block; }
  .form__input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 0;
    border: 1.5px solid #9c97a0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 760px) {
      .form__input {
        width: 100%; } }
    .form__input__input {
      border: none;
      outline: none;
      width: 100%; }
      .form__input__input::placeholder {
        color: #adb5bd;
        text-transform: uppercase; }
      .form__input__input:focus {
        box-shadow: none;
        border-color: #9c97a0; }
      @media only screen and (max-width: 760px) {
        .form__input__input {
          width: inherit; } }
    @media only screen and (max-width: 760px) {
      .form__input {
        width: 100%; } }

.header .hotSale {
  width: 100vw;
  background-color: #7a4a58;
  padding: 10px; }
  .header .hotSale__text {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    color: #fff; }
    @media only screen and (max-width: 1024px) {
      .header .hotSale__text {
        font-size: 18px; } }

.header .navS {
  width: 100vw;
  background: #c8c6cb;
  padding-bottom: 5px;
  padding-top: 5px; }
  @media only screen and (max-width: 1024px) {
    .header .navS {
      width: 100%;
      padding: 5px 15px; } }
  .header .navS__container {
    display: flex;
    justify-content: flex-end; }
  .header .navS__list {
    padding: 0;
    margin: 0; }
    @media only screen and (max-width: 1024px) {
      .header .navS__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; } }
    .header .navS__list__item {
      display: inline-block;
      margin-left: 1rem; }
      @media only screen and (max-width: 1024px) {
        .header .navS__list__item {
          margin-left: 0;
          font-size: 9px; } }
      .header .navS__list__item__link {
        color: #6e6e6f;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 11px; }
        @media only screen and (max-width: 1024px) {
          .header .navS__list__item__link {
            font-size: 9px; } }

.header .navbarL {
  background-color: #fff !important;
  padding: 5px !important;
  border-bottom: 1px solid #9c97a0; }
  @media only screen and (max-width: 1024px) {
    .header .navbarL {
      padding-bottom: 30px !important; } }
  .header .navbarL__container {
    flex-direction: column;
    align-items: start; }
    @media only screen and (max-width: 1024px) {
      .header .navbarL__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center; } }
  .header .navbarL__brand {
    margin-bottom: 2px; }
    .header .navbarL__brand .navbarL_title {
      margin-top: 0;
      margin-bottom: 0; }
    .header .navbarL__brand__img {
      height: auto;
      width: 100%;
      border-radius: 2px; }
      @media only screen and (max-width: 1024px) {
        .header .navbarL__brand__img {
          max-width: 70%; } }
  .header .navbarL__collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0; }
    @media only screen and (max-width: 1024px) {
      .header .navbarL__collapse {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10px;
        padding-right: 10px; } }
    .header .navbarL__collapse .navbarL__list__link {
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 22px; }
      .header .navbarL__collapse .navbarL__list__link .nav-link {
        font-family: 'Serif';
        letter-spacing: 0.5px;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.65);
        padding-left: 0;
        padding-right: 20px; }
    @media only screen and (max-width: 1024px) {
      .header .navbarL__collapse .navbarL__list {
        margin-bottom: 15px; } }
  .header .navbarL__rightSection {
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: -5rem;
    right: 0; }
    @media only screen and (max-width: 1024px) {
      .header .navbarL__rightSection {
        position: static;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%; } }
    .header .navbarL__rightSection__form__input {
      width: 16rem;
      padding: 20px;
      border-radius: 0;
      border: 1.5px solid #9c97a0; }
      .header .navbarL__rightSection__form__input::placeholder {
        color: #adb5bd;
        text-transform: uppercase; }
      .header .navbarL__rightSection__form__input:focus {
        box-shadow: 0 2px 2px black; }
    .header .navbarL__rightSection__alert {
      letter-spacing: 0.5px;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-bottom: .2rem;
      font-weight: 400;
      color: #7a4a58;
      font-size: 15px;
      font-family: 'Roboto', 'Sans-serif'; }
      @media only screen and (max-width: 1024px) {
        .header .navbarL__rightSection__alert {
          display: none; } }
    .header .navbarL__rightSection__button {
      text-transform: uppercase;
      letter-spacing: 0.5px;
      font-weight: 700;
      color: #515357; }
      @media only screen and (max-width: 1024px) {
        .header .navbarL__rightSection__button {
          align-self: center;
          justify-self: center;
          margin-top: 10px; } }

.infoProduct .infoProduct__grid__details__p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05px; }

.infoProduct .infoProduct__grid__details__imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin-top: 8px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.7); }
  .infoProduct .infoProduct__grid__details__imgcontainer__img {
    width: 100%;
    height: 100%; }

.infoProduct .infoProduct__grid__details__talla__container {
  padding-right: 8px;
  padding-left: 8px;
  margin: 0; }

.infoProduct .infoProduct__grid__details__talla__item {
  display: block;
  width: 100%;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c8c6ca;
  color: #545454;
  font-weight: 700;
  transition: 0.3s all; }
  @media only screen and (max-width: 1024px) {
    .infoProduct .infoProduct__grid__details__talla__item {
      height: 3rem;
      width: 3rem; } }
  .infoProduct .infoProduct__grid__details__talla__item:hover {
    background: #e8e8e9;
    transform: scale(1.08); }

.infoProduct .infoProduct__grid__details__talla__guia__link {
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline; }

.infoProduct .infoProduct__grid__images {
  width: 100%; }
  .infoProduct .infoProduct__grid__images__main {
    width: 100%;
    height: 495px; }
    @media only screen and (max-width: 1024px) {
      .infoProduct .infoProduct__grid__images__main {
        height: auto; } }
    .infoProduct .infoProduct__grid__images__main__img {
      width: 100%;
      height: 100%; }
  .infoProduct .infoProduct__grid__images__item {
    height: 70px;
    width: auto;
    max-width: 100%; }

.infoProduct__grid__actions__fav {
  font-size: 36px;
  color: #d1d1d0;
  transition: .2s all; }
  .infoProduct__grid__actions__fav:hover {
    color: #ef3030;
    transform: scale(1.1); }
  @media only screen and (max-width: 1024px) {
    .infoProduct__grid__actions__fav {
      padding: 0;
      margin: 0; } }

.moreInfoProduct {
  width: 100%; }
  .moreInfoProduct__text {
    color: #969696;
    line-height: 27px;
    font-weight: 500;
    text-align: justify; }

.complete__title {
  text-transform: uppercase;
  background: #e7e6e2;
  font-size: 21px;
  padding: 6px;
  font-weight: 700; }

.cardProduct {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem; }
  .cardProduct--lined {
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 95%; }
  .cardProduct__image {
    width: auto;
    max-width: 100%;
    height: 160px; }
    .cardProduct__image--sm {
      height: 40px;
      width: auto;
      max-width: 100%; }
  .cardProduct__text {
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    font-size: 16px;
    font-weight: 500; }
  .cardProduct__price {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 500; }

.footer {
  margin-top: 3.5rem;
  width: 100%; }
  .footer__socialMedia {
    height: 200px;
    background-color: #e7e6e2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer__socialMedia__title {
      font-size: 36px;
      letter-spacing: 0.9px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.7); }
      @media only screen and (max-width: 1024px) {
        .footer__socialMedia__title {
          font-size: 25px; } }
    .footer__socialMedia__links__list {
      list-style: none;
      padding: 0;
      margin: 0; }
      .footer__socialMedia__links__list__item__link {
        color: rgba(0, 0, 0, 0.7); }
        .footer__socialMedia__links__list__item__link__icon {
          font-size: 20px; }
          @media only screen and (max-width: 1024px) {
            .footer__socialMedia__links__list__item__link__icon {
              font-size: 22px; } }
    .footer__socialMedia__divider {
      display: inline-block;
      border-color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 0, 0, 0.7);
      width: 10%;
      margin-top: 10px !important;
      margin-bottom: 10px !important; }
      @media only screen and (max-width: 1024px) {
        .footer__socialMedia__divider {
          width: 20%; } }
  .footer__nav {
    padding-top: 1.5rem;
    border-bottom: .5px solid #ccc;
    padding-bottom: 2.5rem; }
    @media only screen and (max-width: 1024px) {
      .footer__nav {
        padding-left: 15px;
        padding-right: 15px; } }
    .footer__nav__container .footer__nav__item__title {
      font-family: 'Serif';
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2px; }
      @media only screen and (max-width: 1024px) {
        .footer__nav__container .footer__nav__item__title {
          font-size: 18px; } }
    .footer__nav__container .footer__nav__item__list {
      padding: 0;
      margin: 0;
      list-style: none; }
      .footer__nav__container .footer__nav__item__list__item {
        margin-bottom: .3rem; }
        .footer__nav__container .footer__nav__item__list__item__link {
          text-transform: uppercase;
          letter-spacing: 0.2px;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.7);
          font-family: 'Roboto', 'sans-serif'; }
          @media only screen and (max-width: 1024px) {
            .footer__nav__container .footer__nav__item__list__item__link {
              font-size: 12px;
              line-height: 1; } }
          .footer__nav__container .footer__nav__item__list__item__link:hover {
            cursor: pointer; }
        .footer__nav__container .footer__nav__item__list__item__text {
          font-family: 'Roboto', 'sans-serif'; }
  @media only screen and (max-width: 1024px) {
    .footer__brand {
      display: none; } }

.cart {
  position: relative;
  padding-bottom: 4rem !important; }
  .cart__container {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ccc; }
    .cart__container__basic {
      display: flex; }
      .cart__container__basic__img {
        height: 80px;
        width: auto;
        max-width: 100%;
        border-radius: 5px; }
      .cart__container__basic__price {
        font-size: 16px; }
  .cart__button {
    position: fixed;
    bottom: 5px;
    left: 16px;
    width: 90%; }

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  max-width: 100vw;
  overflow-x: hidden; }
